.gradle
**/build
frontend/node_modules
frontend/.nuxt
frontend/.output
!server/build/
!server/build/libs/
!server/build/libs/*.jar
**/.env
.env
http-client-env
*.env.json
.idea
compose*.yml
.github
docker
Makefile
